.container {
    border: 1px solid black;
    background-color: darkgray;
    margin: auto;
}

.row {
    display: flex;
}
.col {
    border: 1px solid black;
}

.btn-config {
    display: block;
    outline-style: none;
    background-color: dodgerblue;
    color: white;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 25px;
    border-radius: 5px;
}

.footer {
    text-align: center;
    height: 50px;
}